html, body{
  --mainColor: rgb(248, 248, 248);
  --inactiveColor: rgba(144, 144, 144, 0.15);
  --activeColor: rgba(0, 0, 0, 0.15);
  --focusColor: rgb(255, 255, 255);

  background: var(--mainColor);
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 0, 0, 0.8);
}

html, body span{
  color: rgba(0, 0, 0, 0.8);
}

.app-wrapper{
  margin: auto;
  width: 1024px;
  height: 80vh;
}
button{
  background: var(--inactiveColor);
}
button:hover{
  background: var(--activeColor);
}
p{
  background: var(--inactiveColor);
}
textarea{
  background-color: var(--inactiveColor);
}
textarea:focus{
  background: var(--focusColor);
}
input{
  background: var(--inactiveColor);
}
input:focus{
  background: var(--focusColor);
}
a:hover{
  background: var(--inactiveColor);
}
label{
  background: var(--inactiveColor);
}
label:hover{
  background: var(--activeColor);
}
